$deepwoods: #264653;
$spruce: #2a9d8f;
$pillowfort: #ab92bf;
$horse: #f2b880;
$butternut: #eb8258;




html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  * {
    margin: auto;
  }
}

p {
  font-size: 12pt;
}

#rest {
  position: relative;
  bottom: 2850px;
  z-index:1;
}

#landing, #about, #partners, #partners img, #partners h2 {
  z-index: 2;
  position: relative;
}

.futurepartner {
  border: 2pt dashed $horse;
}
.futureimage {
  width: 20em;
  margin: 2em auto;
  img {
    width: 100%;
  }
}

.futureimage2 {
  width: 15em;
  margin: 2em auto;
  img {
    width: 100%;
  }
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'rooney-sans', sans-serif;
  background-color: $deepwoods;
  color: $horse;
}

.grad {
  animation: grad 4s ease;
  animation-iteration-count: 1;
}
.grad2 {
  animation: grad2 4s ease;
  animation-iteration-count: infinite;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: auto;
  font-size: 12pt;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 5px;
  z-index: 3;
}
#footer a {
  text-decoration: none;
  color: $horse;
}

#footer div {
  width:0;
  height:0;
  border-bottom:1em solid $horse;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  transition: .25s ease;
}

#footer div:hover {
  transform: scale(1.1);
  border-bottom:1em solid $spruce;
  transition: .25s ease;
}

#navbar {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3%;
  padding: .5em;
  opacity: 1;
}

#navbar p {
  display: none;
}

#navbar a, #contact .button {
  color: $deepwoods;
  padding: .2em .5em;
  font-weight: 600;
  font-size: 14pt;
}
.navbutton {
  display: flex;
  flex-wrap:wrap;
  width:8em;
  height: 2em;
  transition: .5s ease;
  .nametag {
    box-shadow: 2px 3px 1px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
    display: flex;
    align-content: center;
    a {
      width: 100%;
      text-align: center;
    }
  }
}
.navbutton:hover {
  transform:scale(1.1);
  transition: .5s ease;
}

.bar {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.bar i {
  display: none;
}

#navbar, .wrapper a {
  text-decoration: none;
 }

#navoverlay {
  display: none;
}

#firsttrees {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  margin: 0;
  padding: 0;
  >div {
    margin: 0;
    padding: 0;
    flex: 30%;
    width: 30%;
    &:nth-child(1) {
      max-width: 50%;
    }
    &:nth-child(2) {
      margin-left: -600px;
      z-index: -2;
      max-width: 30%;
    }
    &:nth-child(3) {
      max-width: 45%;
      z-index: -1;
    }
    >img {
      width: 100%;
    }
  }
}

#landingcontainer {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 750px;
  position: relative;
  bottom: 90px;
  margin: 0;
  overflow: hidden;
  background-color: $pillowfort;
}

#landing {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 8em;
  z-index: 1;
  width: 60%;
  position: relative;
  justify-content: space-between;
  .futureimage {
    animation: floaty 3s ease;
    animation-iteration-count: 1;
    bottom: 0em;
    position: relative;
    width: 30%;
  }
}

.mobilestack {
  display: block;
  flex-wrap: wrap;
  align-content: center;
  h3 {
    margin-top: 30px;
    color: $horse;
  }
}


#titlegroup {
  float: right;
  margin-top: 5%;
  max-width: 40%;
  flex: 40%;
  img {
    position: relative;
    width: 100%;
    animation: fadein 3s;
    z-index: -3;
  }
  h3 {
    font-weight: 500;
    font-size: 1.3em;
    position: relative;
    bottom: 1em;
  }
 }

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  float: right;
  width: 50%;
  margin-left: 2%;
  height: 50px;
}

.applybutton {
  transition: .5s ease;
  height: 50px;
  flex: 45%;
  width: 45%;
  img {
  width: 100%;
  }
  > div {
  max-width:100%;
  }
  &:hover {
  transform:scale(1.05);
  transition: .5s ease;
  }
  .nametag {
  font-size: 1.7em;
  padding: .2em;
  box-sizing: border-box;
}
}
.nametag {
  font-size: 1.15em;
  font-weight: 600;
  color: $horse;
  background-color: $butternut;
  text-align: center;
  padding: .15em;
  width: 100%;
  height: 100%;
  align-items: center;
  box-shadow: 1px 5px 5px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
  border-radius: 15px;
}


.arrowright {
  width: 0;
  height: 0;
  border-top: 1.05em solid transparent;
  border-bottom: 1.05em solid transparent;
  border-left: 1.05em solid $horse;
}
.arrowleft {
  width: 0;
  height: 0;
  border-top: 1.05em solid transparent;
  border-bottom: 1.05em solid transparent;
  border-right: 1.05em solid $horse;
}

#parallax-group {
  height: 600px;
  overflow: hidden;
  position: relative;
  bottom: 775px;
}

#hill {
  background-color: $spruce;
  border-top-right-radius: 100%;
  height: 600px;
  position: relative;
  box-shadow: 0px -5px 10px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
  //bottom: 450px;
}
#hill2 {
  height: 400px;
  z-index: 3;
  position: relative;
  bottom: 300px;
  img {
    width: 100%;
  }
}
#about {
  width: 100%;
  position: relative;
  bottom: 1000px;
}

#about > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#about .block {
  position: relative;
  width: 100%;
  z-index: 4;
  background-color: $deepwoods;
  //box-shadow: 0px 10px 3px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
  padding-bottom: 15em;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}


h2 {
  font-size: 3em;
  font-family: 'ff-cocon-pro', sans-serif;
}

#about p {
  /*column-count: 2;
  column-gap: .25em;*/
}
#about .text {
  z-index: 4;
  max-width: 35%;
  margin-left: 20%;
  flex: 35%;
  text-align: justify;
  padding: 1em 2em 1em 2em;
  position: relative;
  bottom: 100px;
  .navbutton {
    height: auto;
    margin-top: 2em;
    .nametag {
      margin: auto;
      width: 150px;
      padding: 5px 10px;
      p {
        text-align: center;
        width: 100%;
        font-size: 2em;
        margin: 0;
      }
    }
  }
}
#about .image {
  flex: 30%;
  max-width: 30%;
  padding: 1em 2em 1em 2em;
}

#trees2 {
  position: relative;
  bottom: 1750px;
  z-index: 5;
  img {
    width: 110%;
    margin-left: -5%;
  }
}

#partners {
  margin: auto;
  text-align: center;
  padding: 20em 0 5em 0;
  background-color: $spruce;
  width: 100%;
  box-shadow: 0px 0px 20px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
}

#partnerbutton {
  border-radius: 3em;
  color: $butternut;
  background-color: $horse;
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  box-shadow: 0px 5px 10px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);

}

#partnercloud {
  width: 80%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
#partnercloud a {
  height: 5em;
  width: 20%;
  margin: 2.5em .5em;
  cursor: pointer;
  overflow: none;
}

#partnercloud img {
  max-width: 100%;
}

#contact {
  position: relative;
  right: 0;
  margin: auto;
  margin-bottom: 5em;
  margin-top: 2em;
  width: 98%;
  background-color: $spruce;
  border-radius: 30px;
  box-shadow: 0px 10px 3px adjust-color($pillowfort, $lightness: -60%, $alpha: -.8);
  padding: 4em 2em 4em 2em;
  box-sizing: border-box;
  color: $spruce;
  h2 {
    position: relative;
    color: $deepwoods;
    margin: 0;
  }
  form {
    margin-right: 1%;
    height: 30pt;
    #item {
      height: 100%;
      margin: auto;
      border: 1pt solid $spruce;
      border-radius: 30px;
      position: relative;
    }
    .button {
      background-color: $spruce;
      margin: auto;
      border: 0;
      height: 100%;
      cursor: pointer;
      border-radius: 30px;
    }
  }
  .faq {
    width: 75%;
    justify-content: space-between;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 6.5%;
    .image2 {
      height: 150px;
      margin-top: -215px;
      position: absolute;
      margin-left: 60%;
      img {
        height: 100%;
      }
    }
  }
  .image {
    height: 300px;
    position: absolute;
    margin-top: 150px;
    right: 40px;
    img {
      height: 100%;
    }
  }
  .block {
    margin-left: 5%;
  }
}


#about {
  color: $horse;
}





#contact #partnerbutton {
  position: relative;
  top: 60px;
  left: 60px;
}

.block {
  z-index:3;
  width: 20%;
}

.contactblock > div {
  padding:.5em 3em 3em 3em;
}

form .butto {
  width:0;
  height:0;
  border-left:1em solid $deepwoods;
  border-bottom:1em solid $spruce;
  border-top:1em solid $spruce;
  border-right:1em solid $spruce;
  transition: .25s ease;
  position: relative;
  margin-left: 10px;
  bottom: -10px;
}

#socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width:25%;
  flex: 25%;
  position: relative;
  bottom: 80px;
  padding: 20px;
  transition: .25s ease;
  margin: auto;
}

#socials:hover {
  transition: .25s ease;
}

#socials .social {
  font-size: 36px;
  color: $spruce;
  padding: 7px;
  text-align: center;
  transition: .25s ease;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position:relative;
  z-index:3;
  transform: rotate(45deg);
}

.social i {
  position:relative;
  z-index: 4;
  transform: rotate(-45deg);
}


.social:hover {
  color: $horse !important;
  background-color: adjust-color($spruce, $alpha: -0.5) !important;
  transition: .25s ease;
  cursor: pointer;
}

.decorativelines {
  > div {
    background-color: $butternut;
    &:nth-child(2) {
      margin: 3em;
      margin-left: 0;
    }
  }
}

.socialcontainer {
  transition: .25s ease;
}

.socialcontainer:hover {
  transform: scale(1.1) !important;
  transition: .25s ease;
}

#decorativeline {
  background-color: $deepwoods;
  width: .5%;
  height: 150px;
  position: relative;
  bottom: 35px;
  left: 100px;
}

h4 {
  color: $spruce;
  font-size: 1.4em;
}

#bottom {
  width: 100%;
  display: flex;
}

#faqtitle {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 4em;
}

#faqcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
  margin-top: 2em;
  padding-bottom: 40px;
  .column {
    max-width: 45%;
    flex: 45%;
    overflow: hidden;
    .question {
      margin-bottom: 1.5em;
    }
    .answer {
      text-align: justify;
      max-width: 85%;
      margin-top: 1em;
    }
  }
}

#faqillus {
  margin: 2em;
  img {
    margin-left: 30%;
    width: 7em;
  }
}


#faqbutton {
  border-radius: 3em;
  background-color: $deepwoods;
  color: $horse;
  padding: 1em;
  font-weight: 600;
  position: relative;
}

@keyframes grad {
  0% {
    opacity: 30%;
  }
  15% {
    opacity: 60%;
  }
  45% {
    opacity: 50%;
  }
  75% {
    opacity: 60%
  }
  100% {
    opacity: 30%;
  }
}


@keyframes grad2 {
  0% {
    opacity: 15%;
  }
  15% {
    opacity: 30%;
  }
  45% {
    opacity: 25%;
  }
  75% {
    opacity: 35%
  }
  100% {
    opacity: 15%;
  }
}

@keyframes floaty {
  0% {
    bottom: -20em;
  }

  100% {
    bottom: 0em;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-device-width: 480px) {

  #firsttrees {
    display: none;
  }

  #landing, #about, #partners, #contact {
    margin-bottom: 90px !important;
  }

  h2 {
    text-align: left;
  }

  #rest {
    bottom: 1300px;
    z-index: 3;

  }

  #flash, #flash2, #flash3 {
    display: none;
  }

  .bar {
    z-index: 5;
  }

  .bar i {
    display: block;
    width: 15%;
    height: 20%;
    margin: 1em;
    font-size: 48pt;
  }

  #footer {
    transform: scale(2.15);
    bottom: 50px;
    left: 50px;
  }

  #navbar {
    /*display: none;*/
    display: block;
    opacity: 0;
    position: fixed;
    margin: auto;
    margin-left: 20%;
    transition: opacity .5s ease;
   }

   #navbar .navbutton {
     text-align: center;
     margin: 5em auto;
     width: 100% !important;
     height: 100%;
     background-color: transparent;
   }

  #navbar a, #navbar p {
    font-size: 3em;
  }

  #navbar p {
    display: block;
    font-weight: 600;
  }

  #navbar div {
    margin-top: 30px;
  }

  #navoverlay {
    display: block;
    top: 0;
    background-color: adjust-color($horse, $lightness: 20%);
    opacity: 0;
    position: absolute;
    height: 217vh;
    width: 100%;
    z-index: 4;
    transition: opacity .5s ease;
    transition: display 0s;
    pointer-events: none;
  }

  #closebutton:hover, #closebutton:active {
    color: $spruce;
  }

  #footer div {
    transform: scale(2);
    margin-left: 1em;
  }

  #landingcontainer {
    padding-bottom: 600px;
  }

  #landing {
    display: block;
    max-width: 100%;
    width: 90%;
    margin: auto;
    margin-top: 10em;
  }

  .applybutton {
    display: block;
    width: 50%;
    .nametag {
    font-size: 2em;
    padding: 1em 2em 1em 2em;
    }
  }

  .mobilestack {
    display: block;
    flex-wrap: nowrap;
    margin: auto;
  }

  #titlegroup {
    text-align: center;
    float: none;
    margin: 2em auto 10em auto;
    max-width: 75%; }

  #titlegroup h3 {
    font-size: 2em;
    margin-top: 1.5em;
    width: 100%;
  }

  #parallax-group {
      bottom: 550px;
  }

  #hill2 {
    border-top-left-radius: 100%;
    height: 400px;
    z-index: 2;
    position: relative;
    box-shadow: 0px -5px 20px rgba(16, 11, 20, 0.5);
    bottom: 400px;
    background-color: #264653;
    img {
      display: none;
    }
  }


  .buttons {
    margin: auto;
    width: 85%;
  }

  .applybutton {
    flex: 40% !important;
    width: 40% !important;
  }


  #trees2 {
    display: none;
  }
  #about {
    #hill2 {
      bottom: 0;
    }
    .block {
      display: block;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
     .text {
      max-width: 70%;
      text-align: justify;
      margin-left: auto;
      h2 {
        margin-bottom: .5em;
      }
      a {
        .navbutton {
          margin: auto;
          margin-top: 2em;
          height: auto;
          font-size: 2em;
          .nametag {
            margin: auto;
            width: auto;
            padding: .5em 1em;
          }
        }
       }
      }
    }
  }

  p {
   font-size: 2em;
  }

  .arrowleft, .arrowright {
    display: none;
  }

  #partners {
    border-top-right-radius: 200px;
    padding-bottom: 7em;
    padding-top: 5em;
    h2 {
    text-align: center;
    }
  }

  #partnercloud a {
    width: 45%;
  }

  #partnerbutton {
    font-size: 1.75em;
    position: relative;
    top: 50px;
  }

  #contact {
    text-align: center;
    right: auto;
    margin: auto;
    display: block;
    padding: 2em 2em 4em 2em;
    .container {
      margin: auto;
    }
    > div {
      margin-left: auto;
      display: block;
      > .block {
        display: block;
        margin: auto;
        margin-left: auto;
        margin-top: 5%;
      }
      > div {
        width: 100%;
        margin-top: 3em;
      }
    }
    form {
      position: relative;
      height: auto;
      margin-top: auto;
      #item {
        height: 75px;
        font-size: 14pt;
        margin: auto;
      }
    }
    h2 {
      margin-left: auto;
      text-align: center;
    }
    .image {
      display: none;
    }
  }

  #form .button {
    width: 20%;
    height: 75px;
    font-size: 14pt;
    margin: auto;
  }

  #socials {
    max-width: 75%;
    margin: auto;
    margin-bottom: 150px;
    .social {
      font-size: 50pt;
    }
  }

  .decorativelines {
    display: none;
  }

  #faqcontainer {
    display: block;
  }

  .wrapper h1 {
    font-size: 3em;
    margin-left: 5%;
  }

    .questionq {
      font-size: 2em;
    }

  .answer p {
    text-align: left;
  }

  #bottom {
    display: block;
  }
  #faqcontainer .column {
    margin: auto;
    max-width: 85%;
  }
  #faqtitle {
    margin-top: 20%;
    margin-left: 10%;
  }
  #faqbutton {
    font-size: 1.75em;
    margin-left: 0;
  }
}
